body{
    list-style-type: none;
    font-family:'Raleway';
}
a{
    text-decoration: none;
    color: inherit;
}
ul, li { margin: 0; padding-left: 0; list-style:none ;}
.header{
    max-width: 1800px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header__logo{
    height: 130px;
    align-items: flex-end;
}

.header__info{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.info__conection{
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 20px;
}
.info__img{
    height: 23px;
    padding: 0px 10px;
}
.contact__info{
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
}
.contact{
    font-weight:400;
    padding-right: 20px;
}
.navigation{
    height: 55px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}
.menu__item{
    position: relative;
    display: inline-flex;
    padding-left: 20px;
}
.menu__item:hover{
    color: #0083ca;
}
.menu__dropdown{
    position: absolute;
    z-index: 10;
    margin-top: 20px;
    margin-left: auto;
    color: #fff;
    background-color:#44a5d9;
    display: none;
}
.menu__dropdown-item{
    display: block;
    height: 22px;
    text-align: center;
    padding: 5px;
    font-size: 15px;  
    border-bottom: 1px rgba(225, 225, 225, 0.3) solid;
    width: 210px;
}
.menu__item:hover .menu__dropdown{
    display: block;
}
.info__network{
    display: flex;
}
.network{
    padding: 0;
}

.footer{
    width: 100%;
    height: 130px;
    font-size: 20px;
    font-weight:400;
    margin-top: 3000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__menu {
}
.footer__menu{
    margin-left: 4%;
}
.footer__logo{
    height: 130px;
    
}
.footer__info{
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 100px;
}
.footer__img{
    height: 23px;
}
.footer__conection{
    display: flex;
    flex-direction: column;
}
.conact__footer{
    margin-top: 10px;
}
.footer__email{
    color: #0083ca;
}
@media (max-width: 1150px){
    .header__logo{
        height: 100px;
        align-self: flex-end;
    }
    .header__info{
        font-size: 16px;
    }
    .menu__item{
        padding-left: 10px;
    }
}
@media (max-width: 980px){
    .header{
        height: 60px;
    }
    .header__logo{
        height: 60px;
        align-self: flex-end;
    }
    .header__info{
        font-size: 12px;
        height: 60px;
    }
    .menu__item{
        padding-left: 7px;
    }
    .info__img{
        height: 15px;
        padding: 0px 7px;
    }
    .contact{
        font-size:15px ;
    }
    .contact__info{
        height: 30px;
    }
    .network{
        padding: 0;
    }
}
@media (max-width: 720px){
    .header{
        height: 50px;
    }
    .header__logo{
        height: 50px;
        align-self: flex-end;
    }
    .header__info{
        font-size: 8px;
        height: 50px;
    }
    .menu__item{
        padding-left: 6px;
    }
    .info__img{
        height: 12px;
        padding: 0px 5px;
    }
    .contact{
        font-size:10px ;
    }
    .contact__info{
        height: 25px;
    }
    .network{
        padding: 0;
    }
}
@media (max-width: 320px){
    .header{
        height: 70px;
        width: 320px;
    }
    .header__logo{
        height: 25px;
        width: 144px;
        align-items: center;
    }
    
    .header__info{
        height: 12px;
    }
    .info__conection{
        height: 12px;
        font-size: 7px;
    }
    .info__img{
        height: 12px;
        padding: 0px 2px;
    }
    .contact__info{
        height: 25px;
    }
    .contact{
        font-weight:400;
        padding-right: 20px;
    }
    .navigation{
        height: 13px;

    }
    .menu__item{
        padding-left: 10px;
        font-size: 7px;
    }
    .menu__item:hover{
        color: #0083ca;
    }
    .menu__dropdown{
        margin-top: 7px;
    }
    .menu__dropdown-item{
        height: 22px;
        padding: 5px;
        font-size: 7px;  
        border-bottom: 1px rgba(225, 225, 225, 0.3) solid;
        width: 210px;
    }
    
    .footer{
        width: 100%;
        height: 130px;
        font-size: 20px;
        font-weight:400;
        margin-top: 3000px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer__menu {
    }
    .footer__menu{
        margin-left: 4%;
    }
    .footer__logo{
        height: 130px;
        
    }
    .footer__info{
        height: 130px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-left: 100px;
    }
    .footer__img{
        height: 23px;
    }
    .footer__conection{
        display: flex;
        flex-direction: column;
    }
    .conact__footer{
        margin-top: 10px;
    }
    .footer__email{
        color: #0083ca;
    }
}