body{
    list-style-type: none;
    font-family:'Raleway';
}
a{
    text-decoration: none;
    color: inherit;
}
ul, li { margin: 0; padding-left: 0; list-style:none ;}
.header{
    max-width: 1800px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header__logo{
    height: 130px;
    align-items: flex-end;
}

.header__info{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.info__conection{
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 20px;
}
.info__img{
    height: 23px;
    padding: 0px 10px;
}
.contact__info{
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
}
.contact{
    font-weight:400;
    padding-right: 20px;
}
.navigation{
    height: 55px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}
.menu__item{
    position: relative;
    display: inline;
}
.menu__dropdown{
    position: absolute;
    display:none;
    z-index: 10;
}
.menu__item:hover .menu__dropdown{
    display: block;
}
.info__network{
    display: flex;
}
.network{
    padding: 0;
}

.footer{
    width: 100%;
    height: 130px;
    font-size: 20px;
    font-weight:400;
    margin-top: 3000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__menu {
}
.footer__menu{
    margin-left: 4%;
}
.footer__logo{
    height: 130px;
    
}
.footer__info{
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 100px;
}
.footer__img{
    height: 23px;
}
.footer__conection{
    display: flex;
    flex-direction: column;
}
.conact__footer{
    margin-top: 10px;
}
.footer__email{
    color: #0083ca;
}